<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body layout="column" ng-app="contactApp">
    <md-toolbar class="md-medium-tall" flex ng-controller="mainController">
        <div class="md-toolbar-tools">
            <h2>Contact</h2>
            <span flex></span>
            <md-button ng-click="openDialog()" ng-show="!$auth.currentUser">
                Login
            </md-button>
            <md-button ng-click="logout()" ng-show="$auth.currentUser">
                Logout
            </md-button>
        </div>
    </md-toolbar>
    <div flex ng-include="'client/views/contact.html'"></div>
</body>