<md-dialog aria-label="List dialog">
    <form name="loginForm" ng-submit="login($event)">
        <md-dialog-content>
            <div>
                <md-input-container>
                    <label for="username">User Name</label>
                    <input type="text" id="username" name="username" />
                </md-input-container>
                <md-input-container>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" />
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button type="submit" class="md-primary"></md-button>
            <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>